#weekly-images {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    img {
        width: 18.25rem;
        height: 10.56rem;
        object-fit: cover;
        border-radius: 0.5rem;

    }
}

#weekly {
    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }

        h2 {
            margin-top: 0.5rem;
            font-weight: 800;
            margin-bottom: 4.5rem;
           
        }
    }
}
